<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>



<div><h1>registrar producto LINK TEMPORAL PARA PODER NO PODER LA RUTA EN EL NAVEGADOR :P</h1>
  <%= link_to "Registrar", new_product_path, class: "btn btn-ghost" %>
  <%= link_to "ver cards", products_path, class: "btn btn-ghost" %>
  <%= link_to "editar", products_path, class: "btn btn-ghost" %>
  <%= link_to "eliminar", products_path, class: "btn btn-ghost" %>
</div>
