.banner_home {
  color: black;
  padding: 100px 100px;
  font-family: "Lucida Console", "Courier New", monospace;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}
