.card-product {
  overflow: hidden;
  height: 650px;
  width: 100%;
  background: white;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  h1 {
    font-weight: 600;
    font-size: 30px;
    color: #475be0;
    line-height: 30px;
    padding-bottom: 5px;
  }
  h2 {
    color: #82878a;
    font-size: 20px;
    max-height: 150px;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    padding: 10px 10px 10px 0;
    line-height: 20px;
    padding-bottom: 5px;
  }
  h3 {
    font-family: "Montserrat-SemiBold";
    width: 100%;
    color: #7eca34;
    text-align: left;
    margin-top: 20px;
    font-weight: 500;
    font-size: 24px;
  }
  h4 {
    font-size: 1.5rem;
    letter-spacing: .05em;
    color: #82878a;
    text-decoration: line-through;
    font-weight: normal;
    font-style: normal;
    line-height: 1.8;
    margin-left: 5px;
  }
  h5 {
    font-family: "Montserrat-SemiBold";
    font-size: 2rem;
    letter-spacing: .05em;
    font-weight: 600;
    font-style: normal;
    color: #475be0;
    padding-bottom: 5px;
  }
  p {
    font-size: 12px;
    font-weight: 600;
    color: #92989b;
    text-align: left;
    line-height: 1.5;
  }
}

.card-product img {
  height: 650px;
  width: 100%;
  object-fit: cover;
  padding: 25px;
}

.card-product-infos {
  width: 90%;
  padding-top: 45px;
}
