.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 7px;
  h2 {
    font-size: 24px;
    color: #92989b;
    text-decoration: line-through;
  }
  h3 {
    color: #475be9;
    font-weight: bold;
    font-size: 28px;
  }
  h4 {
    color: #82878a;
    font-size: 18px;
  }
  h5 {
    color: #1ffd7c;
    font-size: 20px;
  }
  p {
    color: white;
    font-size: 24px;
  }
}

.card-trip > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
